@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

.orbitron {
    font-family: 'Orbitron', sans-serif;
}

body {
    background: rgb(31, 3, 3);
}

.card {
    background: rgb(66, 5, 5);
}
/* rgb(233, 221, 221) */