{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Coronameter 2021</title>
</head>
<body>
    <div class="container-fluid text-center">
        <header class="header">
            <div>
                <a href="{% url 'home' %}" class='text-decoration-none'><h1 class='header orbitron text-danger'>Coronameter</h1></a>
                <div class="d-inline">
                    <button class="btn btn-danger"><a href="{% url 'blog' %}" class="text-white">BLOG</a></button>
                    <button class="btn btn-danger"><a href='https://www.cowin.gov.in/home' class="text-white" target="_blank">GET VACCINATED</a></button>
                </div>
            </div>
        </header>
        <br>
        {% block content %}

        {% endblock %}

    </div>
    
    <script src="{% static 'main.js' %}"></script>
</body>
</html>