{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
    <p class="lead text-white">Last Updated <span class='text-success orbitron' id='last-updated-date'>{{ data.Date }}</span></p>
    <br>
    <div class="row">
        <div class="container col-md-2">
            <h2 class='text-secondary'>Total Confirmed:</h2>
            <h2 class='orbitron text-white' id='total-cases'>{{ data.Global.TotalConfirmed|intcomma }}</h2>
        </div>
        <div class="container col-md-2">
            <h2 class='text-danger'>New Confirmed:</h2>
            <h2 class='orbitron text-white' id='new-cases'>{{ data.Global.NewConfirmed|intcomma }}</h2>
        </div>
        <div class="container col-md-2">
            <h2 class='text-secondary'>Total Deaths:</h2>
            <h2 class='orbitron text-white' id='total-deaths'>{{ data.Global.TotalDeaths|intcomma }}</h2>
        </div>
        <div class="container col-md-2">
            <h2 class='text-danger'>New Deaths:</h2>
            <h2 class='orbitron text-white' id='new-deaths'>{{ data.Global.NewDeaths|intcomma }}</h2>
        </div>
        <div class="container col-md-2">
            <h2 class='text-secondary'>Total Recovered:</h2>
            <h2 class='orbitron text-white' id='total-recovered'>{{ data.Global.TotalRecovered|intcomma }}</h2>
        </div>
        <div class="container col-md-2">
            <h2 class='text-danger'>New Recovered:</h2>
            <h2 class='orbitron text-white' id='new-recovered'>{{ data.Global.NewRecovered|intcomma }}</h2>
        </div>
    </div>
    <br>
    <div>
        <div class="container">
            <div class="row">
                <select class='form-select form-control col-md-10' id='country-input'>
                    <option value="" disabled selected='true'>Choose the Country</option>
                    {% for country in countries %}
                        <option value="{{ country.Country }}">{{ country.Country }}</option>
                    {% endfor %}
                </select>
                <button class="btn btn-danger col-md-1 ml-2" id='check'>Check</button>
            </div>
        </div>
        <br>
        <div class="row d-none" id="result">
            <div class="container col-md-2">
                <h2 class='text-secondary'>Total Confirmed:</h2>
                <h2 class='orbitron text-white' id='result-total-cases'></h2>
            </div>
            <div class="container col-md-2">
                <h2 class='text-danger'>New Confirmed:</h2>
                <h2 class='orbitron text-white' id='result-new-cases'></h2>
            </div>
            <div class="container col-md-2">
                <h2 class='text-secondary'>Total Deaths:</h2>
                <h2 class='orbitron text-white' id='result-total-deaths'></h2>
            </div>
            <div class="container col-md-2">
                <h2 class='text-danger'>New Deaths:</h2>
                <h2 class='orbitron text-white' id='result-new-deaths'></h2>
            </div>
            <div class="container col-md-2">
                <h2 class='text-secondary'>Total Recovered:</h2>
                <h2 class='orbitron text-white' id='result-total-recovered'></h2>
            </div>
            <div class="container col-md-2">
                <h2 class='text-danger'>New Recovered:</h2>
                <h2 class='orbitron text-white' id='result-new-recovered'></h2>
            </div>
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class='table mt-3'>
            <thead class='bg-light'>
                <tr>
                    <th scope='col' class='orbitron'>#</th>
                    <th scope='col' class='orbitron text-danger text-danger'>Country</th>
                    <th scope='col' class='orbitron text-secondary'>Total Confirmed</th>
                    <th scope='col' class='orbitron text-danger'>New Confirmed</th>
                    <th scope='col' class='orbitron text-secondary'>Total Deaths</th>
                    <th scope='col' class='orbitron text-danger'>New Deaths</th>
                    <th scope='col' class='orbitron text-secondary'>Total Recovered</th>
                    <th scope='col' class='orbitron text-danger'>New Recovered</th>
                </tr>
            </thead>

            <tbody id='country-wise-data' class="text-white">
                {% for country in countries %}
                    <tr>
                        <td scope='col' class='orbitron'>{{ forloop.counter }}</td>
                        <td scope='col' class='orbitron text-danger text-danger'>{{ country.Country }}</td>
                        <td scope='col' class='orbitron text-secondary'>{{ country.TotalConfirmed|intcomma }}</td>
                        <td scope='col' class='orbitron text-danger'>{{ country.NewConfirmed|intcomma }}</td>
                        <td scope='col' class='orbitron text-secondary'>{{ country.TotalDeaths|intcomma }}</td>
                        <td scope='col' class='orbitron text-danger'>{{ country.NewDeaths|intcomma }}</td>
                        <td scope='col' class='orbitron text-secondary'>{{ country.TotalRecovered|intcomma }}</td>
                        <td scope='col' class='orbitron text-danger'>{{ country.NewRecovered|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}